.price-input-wrapper {
  position: relative;
  // margin-top: 20px;
  width: 100%;
  input{
    // background-color: #F2F2F2;
  }
  .ant-input-affix-wrapper {
    // border-radius: 20px;
    // border: none;
    // background: #F2F2F2;
    // height: 40px;
    // padding: 6px 20px 4px;
    .ant-input{
      // background-color: #F2F2F2 !important;
      // font-size: 18px !important;
      // font-weight: 700 !important; 
      color: black !important;
      &::placeholder{
          color: #8d96a4;
          // font-size: 18px;
          // font-style: normal;
          // font-weight: 700;
          // line-height: 22px;
          // letter-spacing: 0em;
          // text-align: left;
      }
    }
  }
  .ant-input-suffix {
    font-size: 16px;
    color: #000;
  }
  .price-input-error {
    position: absolute;
    left: 0;
    top: 40px;
    line-height: 20px;
    color: #ff4d4f;
    font-size: 14px;
  }
}