.connect-app-container {
  position: relative;
  padding: 10px 40px 10px;
  @media screen and (max-width: 768px) {
    padding: 0 15px 15px;
  }
  // width: 580px;
  text-align: center;
  .connect-app-close {
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
  }
  .ant-btn {
    white-space: normal;
    height: auto;
    min-height: 50px;
    padding: 4px 10px;
  }
  .text-title{
    margin-bottom: 30px;
  }
  .btn-wallet-connect {
    background: #F2F2F2;
    border: none;
    color: black;
    margin-top: 20px;
  }
  .btn-connect-extension {
    background:  #F2F2F2;
    border: none;
    color: #000;
  }
}
.connect-app-modal {
  .ant-modal-content {
    padding-top: 0;
  }
  .qrcode-display {
    display: flex;
    text-align: left;
    @media screen and (max-width: 567px) {
      flex-direction: column;
    }
    .scan-in-app {
      max-width: 320px;
      border-radius: 15px 0 0 15px;
      @media screen and (max-width: 567px) {
        max-width: 100%;
        border-radius: 15px 15px 0 0;
      }
    }
    .scan-logo-app {
      width: 25px;
      height: 25px;
    }
  }
}